<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Notification</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
<script>
/*angular.module('myApp', ['ionic','firebase'])
.factory('Messages', function($firebaseArray) {
  var messagesRef = new Firebase("https://phonelist-79949.firebaseio.com/messages"); 
  return $firebaseArray(messagesRef);
})
.factory('News', function($firebaseArray) {
  var newsRef     = new Firebase("https://phonelist-79949.firebaseio.com/news"); 
  return $firebaseArray(newsRef);
}); */
var app = angular.module('myApp', ['firebase']);
app.factory('Messages', function($firebaseArray) {
  var messagesRef = new Firebase("https://phonelist-79949.firebaseio.com/messages"); 
  return $firebaseArray(messagesRef);
});
app.factory('News', function($firebaseArray) {
  var newsRef     = new Firebase("https://phonelist-79949.firebaseio.com/news"); 
  return $firebaseArray(newsRef);
});

app.controller('myCtrl', function($scope,News) {
	$scope.messages = News;
    $scope.firstname = "John";
    $scope.lastname = "Doe";
	var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
	$scope.y = days[new Date().getDay()]+'  '+new Date().getYear()+'-'+new Date().getMonth()+'-'+new Date().getDate();
	
	$scope.addMessage = function() {
        $scope.messages.$add({
            "topic": $scope.topic,
            "content": $scope.content,
            "fromDept": $scope.fromDept,
            "toDept": $scope.toDept,
            "dateTime": $scope.dateTime,
            "type": "news"

          });
           //$scope.loginData.msg = '';

      };
});

</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All news</h3>
  </div>
  <div class="panel-body">
   <!-- Body -->
   
   
   <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> News
                                 <h3> <span class="label label-danger">{{messages.length}}</span></h3>
                                </h3>
                            </div>
                            <div class="panel-body">
                            
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search"><br>

             <div class="panel panel-danger" ng-repeat="message in messages  | filter:searchText">
                  <div class="panel-body">
                    <h2>{{message.topic}}</h2>
                	<p>{{message.dateTime}}</p>
                    <p>
                    {{message.content}}
                	</p>
                    <a href="#" class="subdued">Send by {{message.fromDept}}</a><br>

                    <button type="button" class="btn btn-danger" ng-click="messages.$remove(message)" aria-label="Left Align">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="messages.$remove(message)" aria-label="Left Align">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>               
             
                                
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Add News</h3>
                            </div>
                            <div class="panel-body">
<form ng-submit="addMessage()">                            
                      <input type="text" ng-model="topic" class="form-control" placeholder="Topic">
                      
                      <textarea rows="4" cols="50" ng-model="content" class="form-control" placeholder="Content">
                      
                      </textarea>
                      <input type="text" ng-model="fromDept" class="form-control" placeholder="From">
                      <input type="text" ng-model="toDept" class="form-control" placeholder="To">
                      <input type="text" ng-model="dateTime" class="form-control" placeholder="Date" value="{{y}}">
                      
                      <br>
					  <button type="submit" class="btn btn-success" aria-label="Left Align">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                      </button>
                      <button type="reset" class="btn btn-warning" aria-label="Left Align">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Clear
                      </button>
                                
</form>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
   
   
   <!-- Body -->
   
  </div>
</div>



</body>
</html>
